.courses {
  width: 100%;
  margin-top: 65px !important;
  &__content {
    margin-top: 65px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__head {
    display: flex;
    align-items: center;
  }
  &__arrow {
    margin-top: -70px;
    max-width: 120px;
  }
  &__lamp {
    width: 120px;
  }
}
@media screen and (min-width: 1920px) {
  .courses {
    &__arrow {
      margin-right: -120px;
    }
    &__lamp {
      margin-left: -120px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .courses {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px;
    }
  }
}
@media screen and (max-width: 767px) {
  .courses {
    &__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 50px;
    }
    &__arrow,
    &__lamp {
      display: none;
    }
  }
}
