.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  h1 {
    color: #000;
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    text-transform: capitalize;
  }
  p {
    color: #8a8a8a;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media (max-width: 450px) {
  .heading h1 {
    font-size: 35px;
  }
}
@media (max-width: 350px) {
  .heading h1 {
    font-size: 30px;
  }
}
